
@media only screen and (min-width:680px){body 
    {background-color:lightblue ;
    }    
}


@media  screen and (max-width:680px){body 
    {background-color:rgb(155, 197, 144) ;
    }    
}
img {border-radius:18px}
img.center{
display:block;
margin-left: auto;
max-width: 50%;
}
.centrado{ magin:10px auto;
display:block;
}
.fondo{font-size: 90%; background-color: lightblue;}

#cabecera{ background-color:#2ac2ff ;
text-align:center;
color:#eaffbf;

}
h2{text-align:center;}
p[name=parrafo]{color: #ba645c;
 
    margin-left: 0px;
    overflow:auto;
    display:block
}

#barranavegacion{background-color:#3c49f0 ;

}

a { background-color:#00ff00;}							
		
#barralateral{background-color:#60f050;
float:left;

height: 1180px;
margin-bottom: 95%;
}		

#sectorprincipal{background-color:#f0a826;
margin-left: 220px;}

#pieprincipal{background-color:#eaf000;
text-align:center;
height: 80px;


}
	
li{background-color:yellow;
display:inline;
text-align:center;

}			
		
		
